// photos
.layui-layer-photos {
  background: none;
  box-shadow: none;
  // 内容区域
  .layui-layer-content {
    overflow: visible;
    text-align: center;
  }
  // 主要区域
  .layer-layer-photos-main {
    img {
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }
    .layui-layer-photos-pointer {
      // 工具栏
      .layui-layer-photos-toolbar {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 52px;
        line-height: 52px;
        background-color: #000\9;
        filter: Alpha(opacity=60);
        background-color: rgba(0, 0, 0, 0.32);
        color: #fff;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
        * {
          font-size: 12px;
        }
        > * {
          display: inline-block;
          vertical-align: top;
          padding: 0 16px;
          font-size: 12px;
          color: #fff;
        }
      }
      .layui-layer-photos-header {
        top: 0;
        bottom: auto;
        > span {
          cursor: pointer;
          &:hover {
            background-color: rgba(51, 51, 51, 0.32);
          }
        }
        .layui-icon {
          font-size: 18px;
        }
      }

      .layui-layer-photos-footer {
        > h3 {
          margin: 0;
          padding: 0;
          max-width: 65%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        a:hover {
          text-decoration: underline;
        }
        em {
          font-style: normal;
        }
      }

      .layer-layer-photos-page {
        // 前一张，后一张指示器
        .layui-layer-photos-prev {
          position: fixed;
          top: 50%;
          width: 52px;
          height: 52px;
          line-height: 52px;
          margin-top: -26px;
          cursor: pointer;
          font-size: 52px;
          color: #717171;
          left: 32px;
          &:hover {
            color: #959595;
          }
        }
        .layui-layer-photos-next {
          position: fixed;
          top: 50%;
          width: 52px;
          height: 52px;
          line-height: 52px;
          margin-top: -26px;
          cursor: pointer;
          font-size: 52px;
          color: #717171;
          right: 32px;
          &:hover {
            color: #959595;
          }
        }
      }
    }
  }
}
