.layui-layer-msg {
  min-width: 180px;
  border: 1px solid #d3d4d3;
  box-shadow: none;

  &.layui-layer-hui {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    .layui-layer-close {
      color: #fff;
    }
    .layui-layer-content {
      padding: 11px 24px;
      text-align: center;
    }
  }
}
